









.faq {
  padding-block: 100px;
}

.faq__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  color: var(--color-primary-dark);
  margin-bottom: 60px;
}

.faq__content {
  display: grid;
  gap: 16px;
}

.faq__item-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--color-bg-gray);
  padding: 13px 13px 13px 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary-dark);
  border-radius: 16px;
  list-style: none;
  cursor: pointer;
  &::after {
    content: '';
    width: 56px;
    height: 56px;
    align-self: flex-start;
    background:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3E%3Cpath stroke='%23007844' stroke-linecap='round' stroke-width='2' d='M9 1v16M1 9h16'/%3E%3C/svg%3E")
        no-repeat center,
      #e5ece5;
    border-radius: 10px;
    flex-shrink: 0;
  }
}

.faq__item[open] .faq__item-summary {
  background: #e1f0e1;
  margin-bottom: 10px;
  &::after {
    background:
      url("data:image/svg+xml,%3Csvg width='18' height='2' viewBox='0 0 18 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 1' stroke='%23007844' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
        no-repeat center,
      #f5f8f5;
  }
}

.faq__item-body {
  background: #f5f8f5;
  border: 1px solid rgba(1, 79, 45, 0.2);
  border-radius: 16px;
  padding: 30px;
}

@media (width <= 1440px) {








  .faq {
    padding-block: 80px;
  }

  .faq__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
  }
}

@media (width <= 1000px) {










  .faq {
    padding-block: 40px;
  }

  .faq__title {
    font-size: 26px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 32px;
  }

  .faq__content {
    gap: 10px;
  }

  .faq__item-summary {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
    &::after {
      width: 46px;
      height: 46px;
      border-radius: 8px;
    }
  }

  .faq__item[open] .faq__item-summary {
    margin-bottom: 8px;
  }

  .faq__item-body {
    border-radius: 12px;
    padding: 20px 16px;
  }
}
