@font-face {
  font-family: 'LT Wave';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./lt-wave-medium.woff') format('woff');
}

@font-face {
  font-family: 'LT Wave';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./lt-wave-bold.woff') format('woff');
}

:root {
  --default-font: 'Manrope';
  --second-family: 'LT Wave';
  --container-width: 1720px;
  --inline-padding: 30px;
  --color-white: #fff;
  --color-text: #3d5b4e;
  --color-primary: #007844;
  --color-primary-light: #78d864;
  --color-primary-dark: #004728;
  --color-bg-light: #e1f0e1;
  --color-bg-gray: #f5f8f5;
  --color-header-light: #eef8ee;
  --color-border: #dfede0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--default-font), sans-serif;
  color: var(--color-text);
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
  &:enabled {
    cursor: pointer;
  }
  &:disabled {
    pointer-events: none;
  }
}

ul {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: contents;
}

picture > source {
  display: none;
}

.container {
  width: min(var(--container-width), 100% - var(--inline-padding) * 2);
  margin-inline: auto;
}

.heading {
  font-family: var(--second-family), sans-serif;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.button-nav {
  height: 52px;
  background-color: var(--color-header-light);
  color: var(--color-primary);
  padding-inline: 30px;
  border-radius: 12px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  &:not(.isActive):hover {
    background-color: var(--color-bg-light);
  }
  &.isActive {
    background-color: var(--color-primary-light);
    color: var(--color-white);
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: currentColor;
    }
  }
}

.button-social {
  height: 56px;
  width: 56px;
  border-radius: 10px;
  background-color: var(--color-header-light);
  color: var(--color-primary);
  &:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
  }
  &:active {
    color: var(--color-white);
    background: color-mix(in srgb, var(--color-primary) 80%, transparent);
  }
  &:disabled {
    background: color-mix(in srgb, var(--color-header-light) 50%, transparent);
    color: color-mix(in srgb, var(--color-primary) 50%, transparent);
  }
}

.button-transparent {
  height: 56px;
  width: 56px;
  color: var(--color-primary);
  &:hover,
  &:active {
    color: var(--color-primary-light);
  }
  &:disabled {
    color: color-mix(in srgb, var(--color-primary-light) 50%, transparent);
  }
}

.button-cta {
  height: 56px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  padding-inline: 28px;
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  &:hover {
    background-color: var(--color-primary-light);
  }
  &:active {
    background: color-mix(in srgb, var(--color-primary-light) 80%, transparent);
  }
  &:disabled {
    background: color-mix(in srgb, var(--color-primary) 50%, transparent);
  }
}

.button--secondary {
  background-color: var(--color-white);
  color: var(--color-primary);
  &:hover {
    background-color: var(--color-primary-light);
  }
  &:active {
    background: color-mix(in srgb, var(--color-primary-light) 80%, transparent);
  }
  &:disabled {
    background: color-mix(in srgb, var(--color-white) 50%, transparent);
  }
}

.button--primary-light {
  color: var(--color-primary);
  background: var(--color-bg-light);
  &:hover {
    color: var(--color-white);
    background: var(--color-primary);
  }
  &:active {
    background: color-mix(in srgb, var(--color-primary) 80%, transparent);
  }
  &:disabled {
    background: color-mix(in srgb, var(--color-bg-light) 50%, transparent);
  }
}

.header {
  padding-block: 20px;
  border-bottom: 1px solid var(--color-border);
}

.header__head {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  flex-shrink: 0;
}

.header__logo-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: var(--color-primary);
}

.header__logo-subtitle {
  font-size: 16px;
  line-height: 24px;
}

.header__button-mobile {
  display: none;
}

.header__info {
  display: flex;
  align-items: center;
  gap: 24px;
  border: 1px solid var(--color-header-light);
  border-radius: 16px;
  padding: 10px 20px;
}

.header__info-item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  &:first-child {
    flex-shrink: 1;
  }
}

.header__info-item-icon {
  flex-shrink: 0;
  color: var(--color-primary-light);
}

.header__info-item-label {
  font-size: 14px;
  line-height: 20px;
}

.header__info-item-value {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
}

.header__info-divider {
  width: 1px;
  height: 40px;
  background-color: var(--color-header-light);
}

.header__social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
}

.header__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-top: 16px;
}

.header__nav {
}

.header__nav-list {
  display: flex;
  gap: 12px;
}

.header-dropdown {
  position: relative;
}

.header-dropdown-menu {
  display: none;
  border: 1px solid var(--color-border);
  background: var(--color-white);
  border-radius: 20px;
  position: absolute;
  padding-block: 10px;
}

.header-dropdown-menu--main {
  width: 500px;
  margin-top: 12px;
  &::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 100%;
    bottom: 100%;
  }
}

.header-dropdown:hover .header-dropdown-menu {
  display: block;
}

.header-dropdown-menu-item {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-dark);
  padding: 8px 32px;
  &:hover {
    color: var(--color-primary);
  }
}

.header__cta {
  display: flex;
  gap: 12px;
}

.hero {
  padding-block: 80px;
  background:
    url('assets/images/hero_bg.svg') no-repeat bottom right / 40% 100%,
    var(--color-bg-gray);
}

.hero__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  gap: 30px;
}

.hero__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  color: var(--color-primary-dark);
  margin-bottom: 30px;
}

.hero__title-accent {
  color: var(--color-primary-light);
  white-space: nowrap;
}

.hero__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 30px;
}

.hero__location {
  display: flex;
  gap: 12px;
  margin-bottom: 50px;
}

.hero__location-indicator {
  height: 54px;
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-inline: 23px;
  color: var(--color-primary);
  border: 1px solid rgba(1, 79, 45, 0.2);
  border-radius: 16px;
  &::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary-light);
  }
}

.hero__card-list {
  display: grid;
  grid-template-columns: repeat(3, 292px);
  gap: 12px;
  margin-bottom: 60px;
}

.hero__card {
  display: flex;
  flex-direction: column;
  padding: 23px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  border-radius: 20px;
  &:nth-child(1) {
    --card-accent-color: #78d864;
  }
  &:nth-child(2) {
    --card-accent-color: #64d8a1;
  }
  &:nth-child(3) {
    --card-accent-color: #64b1d8;
  }
}

.hero__card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.hero__card-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.hero__card-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-primary);
}

.hero__card-feature {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  margin-bottom: 16px;
}

.hero__card-feature-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  &::before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--card-accent-color);
    flex-shrink: 0;
    margin-top: 8px;
  }
}

.hero__card-price {
  width: fit-content;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 9px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

.hero__card-price-accent {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
}

.hero__card-button {
  width: 100%;
  height: 50px;
  border-radius: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.hero__cta {
  display: grid;
  grid-template-columns: 320px 360px;
  gap: 12px;
}

.hero__cta-button {
  height: 60px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border-radius: 16px;
}

.hero__photo {
  margin-bottom: -80px;
}

.therapy {
  position: relative;
  background:
    url('assets/images/therapy_bg.svg') no-repeat center,
    #b7f9a1;
  padding-block: 200px;
}

.therapy__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  color: var(--color-primary-dark);
  margin-bottom: 40px;
}

.therapy__wrapper {
  position: relative;
  width: fit-content;
  margin-inline: auto;
}

.therapy__grid {
  max-width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  margin-inline: auto;
}

.therapy__card {
  width: 354px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(1, 79, 45, 0.2);
  border-radius: 20px;
  background-color: var(--color-white);
  padding: 29px;
  position: absolute;
  &:nth-child(1) {
    left: -350px;
    top: 45px;
  }
  &:nth-child(2) {
    left: 500px;
    top: 80px;
  }
  &:nth-child(3) {
    left: -430px;
    top: 415px;
  }
  &:nth-child(4) {
    left: 600px;
    top: 400px;
  }
}

.therapy__card-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary-dark);
}

.therapy__img {
  position: relative;
  z-index: 1;
  margin-inline: auto;
}

.cta {
  background:
    url('assets/images/cta_bg.svg') no-repeat bottom right / 35% 100%,
    var(--color-primary);
}

.cta__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}

.cta__content {
  max-width: 863px;
  padding-block: 100px;
}

.cta__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  color: var(--color-white);
  margin-bottom: 40px;
}

.cta__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  margin-bottom: 90px;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 16px 12px;
}

.cta__input {
  display: block;
  border-radius: 16px;
  height: 56px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  padding-inline: 24px;
  &:hover,
  &:focus {
    border-color: rgba(255, 255, 255, 0.5);
    outline: none;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

.cta__button {
  height: 60px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.cta__checkbox-wrapper {
  display: flex;
  align-items: center;
  padding-left: 8px;
}

.cta__checkbox {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
}

.cta__checkbox-input {
  appearance: none;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border: 1px solid var(--color-white);
  border-radius: 4px;
  &:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none' viewBox='0 0 14 14'%3E%3Crect width='14' height='14' fill='%23fff' rx='2'/%3E%3Cpath fill='%23007844' d='M5.58 8.97 10.5 3.7a.5.5 0 0 1 .4-.19q.24 0 .42.19.17.18.17.44t-.17.45L5.99 10.3a.5.5 0 0 1-.41.19.5.5 0 0 1-.4-.19L2.66 7.63a.66.66 0 0 1 .01-.89.55.55 0 0 1 .83 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.cta__checkbox-text {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-white);
  opacity: 0.7;
  & a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }
}

.text-block {
  padding-block: 200px 100px;
  background-color: #b7f9a1;
  & .block + .block {
    margin-top: 70px;
  }
  & .grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 42px;
    margin-top: 60px;
  }
  & .callout {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background: var(--color-bg-gray);
    border-radius: 20px;
    padding: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-primary-dark);
    margin-top: 30px;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='26' fill='none' viewBox='0 0 21 26'%3E%3Cpath stroke='%2378d864' stroke-width='2' d='m2.98 10.5 3.64-4.97C8.97 2.3 10.15.7 11.24 1.04s1.1 2.32 1.1 6.26v.37c0 1.42 0 2.13.45 2.58l.02.02c.46.44 1.2.44 2.66.44 2.63 0 3.95 0 4.4.8l.02.04c.42.82-.35 1.87-1.87 3.95l-3.64 4.97c-2.35 3.22-3.52 4.83-4.62 4.49s-1.1-2.31-1.1-6.26v-.37c0-1.42 0-2.13-.45-2.58l-.02-.02c-.46-.44-1.2-.44-2.66-.44-2.63 0-3.95 0-4.4-.8l-.01-.04c-.42-.82.34-1.87 1.86-3.95Z'/%3E%3C/svg%3E");
      width: 21px;
      height: 26px;
      flex-shrink: 0;
    }
  }
  & h2 {
    font-family: var(--second-family), sans-serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 60px;
    color: var(--color-primary-dark);
  }
  & h3 {
    font-family: var(--second-family), sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: var(--color-primary-dark);
  }
  & p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  & * + p {
    margin-top: 30px;
  }
  & ul {
    display: grid;
    gap: 8px;
    margin-top: 20px;
  }
  & ul > li {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    &::before {
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--color-primary-light);
      margin-top: 10px;
    }
  }
  & ol {
    display: grid;
    gap: 8px;
    margin-top: 20px;
    counter-reset: text-block-counter;
  }
  & ol > li {
    counter-increment: text-block-counter;
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
  }
  & ol > li::before {
    content: counter(text-block-counter, decimal-leading-zero);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid rgba(1, 79, 45, 0.2);
    border-radius: 12px;
    width: 45px;
    height: 41px;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-primary-light);
  }
  & blockquote {
    display: grid;
    align-items: start;
    grid-template-columns: auto 1fr;
    gap: 30px 20px;
    background: var(--color-bg-gray);
    border-radius: 20px;
    padding: 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-primary-dark);
    margin-top: 30px;
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='19' fill='none' viewBox='0 0 28 19'%3E%3Cpath fill='%2378d864' d='M11.8 13.92c0 3.1-2.1 5.08-6 5.08C2.02 19 0 17.08 0 14v-.21c0-1.3.2-2.47 1.26-4.4l6-9.39h5.17L9.5 7.4c-1.05 2.48 2.3 2.48 2.3 6.52m3.77.07v-.2c0-1.3.21-2.47 1.26-4.4l6-9.39H28l-2.93 7.4c-1.05 2.48 2.3 2.48 2.3 6.52 0 3.1-2.1 5.08-6 5.08-3.77 0-5.8-1.92-5.8-5'/%3E%3C/svg%3E");
      width: 28px;
      height: 19px;
      flex-shrink: 0;
    }
    & .divider {
      grid-column: 1 / -1;
      background-color: var(--color-border);
      height: 1px;
    }
    & .doctor {
      grid-column: 1 / -1;
      display: flex;
      gap: 20px;
    }
    & .doctor__avatar {
      width: 100px;
      height: 100px;
    }
    & .doctor__info {
      display: flex;
      flex-direction: column;
    }
    & .doctor__name {
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: var(--color-primary-dark);
    }
    & .doctor__position {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
    }
    & .doctor__experience {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: var(--color-primary);
      margin-top: auto;
    }
  }
}

.license {
  padding-block: 100px;
  background-color: #b7f9a1;
}

.license__grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 50px;
}

.license__content {
  display: flex;
  flex-direction: column;
}

.license__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  color: var(--color-primary-dark);
  margin-bottom: 40px;
}

.license__description {
  display: grid;
  gap: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.license__controls {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.license__button {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(1, 79, 45, 0.2);
  &:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }
  &:active {
    background: color-mix(in srgb, var(--color-primary) 80%, transparent);
  }
  &:disabled {
    opacity: 0.5;
  }
}

.license__row {
  display: flex;
  gap: 12px;
}

.license__item {
  width: fit-content;
  position: relative;
}

.license__item-text {
  display: none;
  position: absolute;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(8px);
  background: rgba(245, 248, 245, 0.5);
  inset: auto 12px 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.license__item:hover .license__item-text {
  display: block;
}

.faq {
  padding-block: 100px;
}

.faq__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  color: var(--color-primary-dark);
  margin-bottom: 60px;
}

.faq__content {
  display: grid;
  gap: 16px;
}

.faq__item-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--color-bg-gray);
  padding: 13px 13px 13px 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary-dark);
  border-radius: 16px;
  list-style: none;
  cursor: pointer;
  &::after {
    content: '';
    width: 56px;
    height: 56px;
    align-self: flex-start;
    background:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3E%3Cpath stroke='%23007844' stroke-linecap='round' stroke-width='2' d='M9 1v16M1 9h16'/%3E%3C/svg%3E")
        no-repeat center,
      #e5ece5;
    border-radius: 10px;
    flex-shrink: 0;
  }
}

.faq__item[open] .faq__item-summary {
  background: #e1f0e1;
  margin-bottom: 10px;
  &::after {
    background:
      url("data:image/svg+xml,%3Csvg width='18' height='2' viewBox='0 0 18 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 1' stroke='%23007844' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
        no-repeat center,
      #f5f8f5;
  }
}

.faq__item-body {
  background: #f5f8f5;
  border: 1px solid rgba(1, 79, 45, 0.2);
  border-radius: 16px;
  padding: 30px;
}

.header__mobile {
  padding: 30px 10px;
  position: absolute;
  background-color: var(--color-white);
  top: 70px;
  &.isHide {
    display: none;
  }
}

.header__mobile-input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.header__mobile-input {
  width: 100%;
  height: 56px;
  padding-inline: 22px 48px;
  border: 1px solid var(--color-border);
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  color: inherit;
}

.header__mobile-input-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 12px;
  right: 12px;
  background: transparent;
  color: var(--color-primary);
}

.header__mobile-nav {
  display: grid;
  gap: 8px;
  margin-bottom: 30px;
}

.header__mobile-nav-link {
  display: flex;
  align-items: center;
  height: 56px;
  background-color: var(--color-header-light);
  border-radius: 12px;
  padding-inline: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary);
}

.header__mobile-button {
  height: 56px;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 30px;
}

.header__mobile-info {
  display: grid;
  gap: 16px;
  margin-bottom: 24px;
}

.header__mobile-info-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.header__mobile-info-item-icon {
  position: relative;
  top: 10px;
}

.header__mobile-info-item-label {
  font-size: 14px;
  line-height: 20px;
}

.header__mobile-info-item-value {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-primary-dark);
}

@media (width <= 1440px) {
  :root {
    --inline-padding: 10px;
  }

  .button {
    gap: 10px;
  }

  .button-transparent,
  .button-social {
    width: 42px;
    height: 42px;
    border-radius: 8px;
    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  .button-nav__chevron {
    width: 12px;
    height: 5px;
  }

  .button-nav,
  .button-cta {
    height: 42px;
    padding-inline: 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
  }

  .header {
    padding-block: 14px;
  }

  .header__head {
    justify-content: space-between;
    gap: 14px;
  }

  .header__logo-img {
    width: 46px;
    height: 46px;
  }

  .header__logo-title {
    font-size: 28px;
    line-height: 34px;
  }

  .header__logo-subtitle {
    font-size: 14px;
    line-height: 20px;
  }

  .header__info {
    gap: 40px;
    border: none;
    padding: 0;
  }

  .header__info-item {
    &:last-child {
      display: none;
    }
  }

  .header__info-divider {
    display: none;
  }

  .header__social {
    gap: 8px;
  }

  .header__footer {
    margin-top: 16px;
  }

  .header__nav-list {
    gap: 8px;
  }

  .hero {
    padding-block: 50px;
  }

  .hero__grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .hero__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 24px;
  }

  .hero__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .hero__location {
    gap: 8px;
    margin-bottom: 32px;
  }

  .hero__location-indicator {
    height: 50px;
    font-size: 18px;
    line-height: 26px;
  }

  .hero__card-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .hero__photo {
    display: none;
  }

  .therapy__img {
    max-width: 380px;
  }

  .therapy {
    padding-block: 150px;
  }

  .therapy__title {
    font-size: 48px;
    line-height: 56px;
  }

  .therapy__card {
    width: 320px;
    height: 180px;
    padding: 24px;
    &:nth-child(1) {
      left: -300px;
      top: 45px;
    }
    &:nth-child(2) {
      left: 350px;
      top: 45px;
    }
    &:nth-child(3) {
      left: -300px;
      top: 300px;
    }
    &:nth-child(4) {
      left: 350px;
      top: 300px;
    }
  }

  .cta__grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .cta__content {
    padding-block: 50px;
  }

  .cta__title {
    font-size: 48px;
    line-height: 56px;
  }

  .cta__photo {
    margin-inline: auto;
  }

  .text-block {
    padding-block: 100px;
    & .grid {
      grid-template-columns: minmax(0, 1fr);
      gap: 24px;
      margin-top: 32px;
      & > picture > img {
        grid-row: 1;
      }
    }
  }

  .license {
    padding-block: 80px;
  }

  .license__grid {
    grid-template-columns: minmax(0, 1fr);
    gap: 32px;
  }

  .license__title {
    font-size: 48px;
    line-height: 56px;
  }

  .license__controls {
    display: none;
  }

  .faq {
    padding-block: 80px;
  }

  .faq__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
  }
}

@media (width <= 1000px) {
  .header {
    padding-block: 12px;
  }

  .header__logo-title,
  .header__logo-subtitle,
  .header__info,
  .header__social,
  .header__footer {
    display: none;
  }

  .header__button-mobile {
    display: flex;
  }

  .button-cta {
    height: 46px;
    font-size: 16px;
    border-radius: 12px;
  }

  .header__button-burger {
    width: 46px;
    height: 46px;
    border-radius: 10px;
    padding: 0;
  }

  .hero__title {
    font-size: 30px;
    line-height: 36px;
  }

  .hero__card-list {
    grid-template-columns: minmax(0, 1fr);
    margin-bottom: 32px;
  }

  .hero__card {
    padding: 20px;
  }

  .hero__card-head {
    margin-bottom: 20px;
  }

  .hero__card-price {
    margin-bottom: 20px;
  }

  .hero__card-button {
    border-radius: 12px;
  }

  .hero__cta {
    grid-template-columns: minmax(0, 1fr);
  }

  .hero__cta-button {
    height: 56px;
    font-size: 16px;
  }

  .hero__photo {
    display: block;
    margin-inline: auto;
    height: 350px;
    object-fit: cover;
    object-position: 0 10px;
  }

  .therapy {
    padding-block: 80px;
    background: var(--color-white);
  }

  .therapy__grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .therapy__card {
    position: static;
  }

  .therapy__title {
    font-size: 26px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 32px;
  }

  .therapy__wrapper {
    width: 100%;
  }

  .therapy__card {
    width: 100%;
    height: 152px;
  }

  .therapy__card-text {
    font-size: 18px;
    line-height: 28px;
  }

  .therapy__img {
    display: none;
  }

  .cta__content {
    padding-block: 40px 10px;
  }

  .cta__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .cta__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .cta__form {
    grid-template-columns: minmax(0, 1fr);
  }

  .cta__checkbox-wrapper {
    grid-row: 3;
  }

  .cta__input {
    height: 50px;
  }

  .cta__button {
    height: 56px;
    font-size: 16px;
  }

  .cta__photo {
    height: 350px;
    object-fit: cover;
    object-position: 0 10px;
  }

  .text-block {
    padding-block: 80px;
    background-color: var(--color-white);
    & .block + .block {
      margin-top: 40px;
    }
    & .grid {
      gap: 24px;
      margin-top: 32px;
    }
    & .callout {
      flex-direction: column;
      border-radius: 16px;
      padding: 24px 20px;
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
    }
    & h2 {
      font-size: 26px;
      line-height: 36px;
    }
    & h3 {
      font-size: 22px;
      line-height: 32px;
    }
    & p {
      font-size: 14px;
      line-height: 20px;
    }
    & * + p {
      margin-top: 24px;
    }
    & ul {
      margin-top: 16px;
    }
    & ul > li {
      gap: 10px;
      font-size: 14px;
      line-height: 20px;
      &::before {
        margin-top: 8px;
      }
    }
    & ol {
      margin-top: 16px;
    }
    & ol > li {
      font-size: 14px;
      line-height: 20px;
    }
    & ol > li::before {
      border-radius: 8px;
      width: 40px;
      height: 38px;
      font-size: 14px;
    }
    & blockquote {
      grid-template-columns: minmax(0, 1fr);
      gap: 20px;
      border-radius: 16px;
      padding: 24px 20px;
      font-size: 16px;
      line-height: 24px;
      margin-top: 24px;
      & .doctor {
        gap: 12px;
      }
      & .doctor__avatar {
        width: 72px;
        height: 72px;
      }
      & .doctor__info {
        gap: 8px;
      }
      & .doctor__name {
        font-size: 16px;
        line-height: 24px;
      }
      & .doctor__position {
        font-size: 14px;
        line-height: 20px;
      }
      & .doctor__experience {
        font-size: 14px;
        line-height: 20px;
        margin-top: 0;
      }
    }
  }

  .license {
    padding-block: 40px;
    background: var(--color-white);
  }

  .license__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .license__description {
    font-size: 14px;
    line-height: 20px;
    gap: 16px;
  }

  .license__row {
    overflow-x: auto;
  }

  .license__item {
    flex-shrink: 0;
  }

  .faq {
    padding-block: 40px;
  }

  .faq__title {
    font-size: 26px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 32px;
  }

  .faq__content {
    gap: 10px;
  }

  .faq__item-summary {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
    &::after {
      width: 46px;
      height: 46px;
      border-radius: 8px;
    }
  }

  .faq__item[open] .faq__item-summary {
    margin-bottom: 8px;
  }

  .faq__item-body {
    border-radius: 12px;
    padding: 20px 16px;
  }
}
