*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  interpolate-size: allow-keywords;
}

body {
  font-family: var(--default-font), sans-serif;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  &:enabled {
    cursor: pointer;
  }
  &:disabled {
    pointer-events: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}
