.cta {
  background:
    url("/assets/images/cta_bg.svg") no-repeat bottom right / 35% 100%,
    var(--color-primary);
}

.cta__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
}

.cta__content {
  max-width: 863px;
  padding-block: 100px;
}

.cta__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  color: var(--color-white);
  margin-bottom: 40px;
}

.cta__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-white);
  margin-bottom: 90px;
}

.cta__form {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  gap: 16px 12px;
}

@media (width <= 1440px) {
  .cta__grid {
    grid-template-columns: minmax(0, 1fr);
  }

  .cta__content {
    padding-block: 50px;
  }

  .cta__title {
    font-size: 48px;
    line-height: 56px;
  }

  .cta__photo {
    margin-inline: auto;
  }
}

@media (width <= 1100px) {
  .cta__content {
    padding-block: 40px 10px;
  }

  .cta__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 24px;
  }

  .cta__subtitle {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .cta__form {
    grid-template-columns: minmax(0, 1fr);
  }

  .cta__form .checkbox-wrapper {
    grid-row: 3;
  }

  .cta__photo {
    height: 350px;
    width: auto;
    object-fit: cover;
    object-position: 0 10px;
  }
}
