.faq {
  padding-block: 100px;
}

.faq__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 60px;
  text-align: center;
  color: var(--color-primary-dark);
  margin-bottom: 60px;
}

.faq__content {
  display: grid;
  gap: 16px;
}

.faq__item-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  background-color: var(--color-bg-gray);
  padding: 12px 12px 12px 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary-dark);
  border-radius: 16px;
  list-style: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  &::after {
    content: "";
    width: var(--button-height-lg);
    height: var(--button-height-lg);
    align-self: flex-start;
    background:
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none' viewBox='0 0 18 18'%3E%3Cpath stroke='%23007844' stroke-linecap='round' stroke-width='2' d='M9 1v16M1 9h16'/%3E%3C/svg%3E")
        no-repeat center,
      #e5ece5;
    border-radius: 10px;
    flex-shrink: 0;
  }
}

.faq__item[open] .faq__item-summary {
  background: var(--color-bg-light);
  &::after {
    background:
      url("data:image/svg+xml,%3Csvg width='18' height='2' viewBox='0 0 18 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L17 1' stroke='%23007844' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")
        no-repeat center,
      var(--color-bg-gray);
  }
}

.faq__item::details-content {
  block-size: 0;
  overflow: hidden;
  transition:
    block-size 0.3s ease,
    content-visibility 0.3s ease allow-discrete;
}

.faq__item[open]::details-content {
  block-size: auto;
}

.faq__item-body {
  background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='296' height='132' fill='none' viewBox='0 0 296 132'%3E%3Cpath fill='%23007844' fill-opacity='.05' d='M312.21 243.17c17.18-16.3 17.26-17.5 3.1-32.37-10.41-10.9-11.84-13.6-12.64-23.3-.87-10.9 1.75-16.54 12.88-27.99 13.05-13.44 13.05-15.82.56-28.07-5.88-5.8-8.5-8.99-10.58-13.04-2.54-5.17-2.7-5.97-2.7-13.52 0-6.44.32-8.59 1.59-11.13 3.1-6.13 6.36-10.34 12.17-15.75 11.45-10.74 11.6-14.63 1.03-25.53-10.66-10.9-12.48-12.32-16.78-12.32s-6.12 1.43-16.78 12.32c-10.81 11.14-10.5 14.32 2.3 26.8 5.34 5.25 7.8 8.35 10.1 12.89 2.95 5.8 2.95 5.96 2.63 13.36-.47 10.57-2.54 14.47-13.44 25.76-12.56 13.04-12.56 14.63.56 28.23 11.05 11.45 13.68 17.1 12.8 28-.8 9.7-2.22 12.4-12.64 23.3-14.16 14.87-14.08 16.06 3.1 32.36 7.24 6.84 7.47 6.92 11.37 6.92s4.14-.08 11.37-6.92M128.12 243.17c17.18-16.3 17.26-17.5 3.1-32.37-10.41-10.9-11.85-13.6-12.64-23.3-.88-10.9 1.75-16.54 12.88-27.99 13.04-13.44 13.04-15.82.56-28.07-5.89-5.8-8.51-8.99-10.58-13.04-2.54-5.17-2.7-5.97-2.7-13.52 0-6.44.32-8.59 1.59-11.13 3.1-6.13 6.36-10.34 12.16-15.75 11.46-10.74 11.61-14.63 1.04-25.53-10.66-10.9-12.49-12.32-16.78-12.32s-6.12 1.43-16.78 12.32c-10.82 11.14-10.5 14.32 2.3 26.8 5.33 5.25 7.8 8.35 10.1 12.89 2.95 5.8 2.95 5.96 2.63 13.36-.48 10.57-2.55 14.47-13.44 25.76-12.56 13.04-12.56 14.63.56 28.23 11.05 11.45 13.67 17.1 12.8 28-.8 9.7-2.23 12.4-12.64 23.3-14.16 14.87-14.08 16.06 3.1 32.36 7.23 6.84 7.47 6.92 11.37 6.92s4.13-.08 11.37-6.92M220.17 243.17c17.17-16.3 17.25-17.5 3.1-32.37-10.42-10.9-11.85-13.6-12.65-23.3-.87-10.9 1.75-16.54 12.89-27.99 13.04-13.44 13.04-15.82.55-28.07-5.88-5.8-8.5-8.99-10.57-13.04-2.55-5.17-2.7-5.97-2.7-13.52 0-6.44.31-8.59 1.58-11.13 3.1-6.13 6.37-10.34 12.17-15.75 11.45-10.74 11.61-14.63 1.03-25.53-10.65-10.9-12.48-12.32-16.77-12.32-4.3 0-6.13 1.43-16.78 12.32-10.82 11.14-10.5 14.32 2.3 26.8 5.33 5.25 7.8 8.35 10.1 12.89 2.94 5.8 2.94 5.96 2.63 13.36-.48 10.57-2.55 14.47-13.44 25.76-12.57 13.04-12.57 14.63.55 28.23 11.06 11.45 13.68 17.1 12.8 28-.79 9.7-2.22 12.4-12.64 23.3-14.15 14.87-14.07 16.06 3.1 32.36 7.24 6.84 7.48 6.92 11.38 6.92s4.13-.08 11.37-6.92M36.07 243.17c17.18-16.3 17.26-17.5 3.1-32.37-10.41-10.9-11.84-13.6-12.64-23.3-.87-10.9 1.75-16.54 12.88-27.99 13.05-13.44 13.05-15.82.56-28.07-5.88-5.8-8.5-8.99-10.58-13.04-2.54-5.17-2.7-5.97-2.7-13.52 0-6.44.32-8.59 1.6-11.13 3.1-6.13 6.35-10.34 12.16-15.75 11.45-10.74 11.6-14.63 1.03-25.53C30.83 41.57 29 40.15 24.7 40.15s-6.12 1.43-16.78 12.32c-10.81 11.14-10.5 14.32 2.3 26.8 5.34 5.25 7.8 8.35 10.1 12.89 2.95 5.8 2.95 5.96 2.63 13.36-.47 10.57-2.54 14.47-13.44 25.76-12.56 13.04-12.56 14.63.56 28.23 11.05 11.45 13.68 17.1 12.8 28-.8 9.7-2.22 12.4-12.64 23.3-14.16 14.87-14.08 16.06 3.1 32.36 7.24 6.84 7.48 6.92 11.37 6.92 3.9 0 4.14-.08 11.37-6.92'/%3E%3Cpath fill='%23007844' fill-opacity='.05' d='M266.19 203.02c17.18-16.3 17.26-17.5 3.1-32.36-10.42-10.9-11.85-13.6-12.64-23.3-.88-10.9 1.75-16.54 12.88-28 13.04-13.43 13.04-15.82.56-28.07-5.89-5.8-8.51-8.98-10.58-13.04-2.55-5.17-2.7-5.96-2.7-13.52 0-6.44.31-8.59 1.59-11.13 3.1-6.12 6.36-10.34 12.16-15.75 11.45-10.73 11.61-14.63 1.04-25.52C260.94 1.43 259.1 0 254.82 0s-6.12 1.43-16.78 12.33c-10.82 11.13-10.5 14.31 2.3 26.8 5.33 5.24 7.8 8.35 10.1 12.88 2.95 5.8 2.95 5.96 2.63 13.36-.48 10.58-2.55 14.47-13.44 25.76-12.56 13.05-12.56 14.64.56 28.24 11.05 11.45 13.67 17.1 12.8 27.99-.8 9.7-2.23 12.4-12.65 23.3-14.15 14.87-14.07 16.06 3.1 32.36 7.24 6.84 7.48 6.92 11.38 6.92s4.13-.08 11.37-6.92M82.1 203.02c17.17-16.3 17.25-17.5 3.1-32.36-10.42-10.9-11.85-13.6-12.65-23.3-.87-10.9 1.75-16.54 12.89-28 13.04-13.43 13.04-15.82.55-28.07-5.88-5.8-8.5-8.98-10.57-13.04-2.55-5.17-2.7-5.96-2.7-13.52 0-6.44.31-8.59 1.58-11.13 3.1-6.12 6.37-10.34 12.17-15.75 11.45-10.73 11.61-14.63 1.04-25.52C76.85 1.43 75.02 0 70.73 0S64.6 1.43 53.95 12.33c-10.82 11.13-10.5 14.31 2.3 26.8 5.33 5.24 7.8 8.35 10.1 12.88 2.94 5.8 2.94 5.96 2.63 13.36-.48 10.58-2.55 14.47-13.44 25.76-12.57 13.05-12.57 14.64.55 28.24 11.06 11.45 13.68 17.1 12.8 27.99-.79 9.7-2.22 12.4-12.64 23.3-14.15 14.87-14.07 16.06 3.1 32.36 7.24 6.84 7.48 6.92 11.38 6.92s4.13-.08 11.37-6.92M174.14 203.02c17.18-16.3 17.26-17.5 3.1-32.36-10.41-10.9-11.84-13.6-12.64-23.3-.87-10.9 1.75-16.54 12.88-28 13.05-13.43 13.05-15.82.56-28.07-5.88-5.8-8.5-8.98-10.58-13.04-2.54-5.17-2.7-5.96-2.7-13.52 0-6.44.32-8.59 1.59-11.13 3.1-6.12 6.36-10.34 12.17-15.75 11.45-10.73 11.6-14.63 1.03-25.52C168.9 1.43 167.07 0 162.77 0S156.65 1.43 146 12.33c-10.81 11.13-10.5 14.31 2.3 26.8 5.34 5.24 7.8 8.35 10.1 12.88 2.95 5.8 2.95 5.96 2.63 13.36-.48 10.58-2.54 14.47-13.44 25.76-12.56 13.05-12.56 14.64.56 28.24 11.05 11.45 13.68 17.1 12.8 27.99-.8 9.7-2.22 12.4-12.64 23.3-14.16 14.87-14.08 16.06 3.1 32.36 7.24 6.84 7.47 6.92 11.37 6.92s4.14-.08 11.37-6.92'/%3E%3C/svg%3E")
      no-repeat bottom right,
    var(--color-bg-gray);
  border: 1px solid rgba(1, 79, 45, 0.2);
  border-radius: 16px;
  padding: 30px;
  margin-top: 10px;
}

.faq__item-doctor {
  display: flex;
  gap: 20px;
  padding-top: 32px;
  margin-top: 32px;
  border-top: 1px solid rgba(1, 79, 45, 0.1);
}

.faq__item-doctor-info {
  display: flex;
  flex-direction: column;
}

.faq__item-doctor-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-primary-dark);
  margin-bottom: 8px;
}

.faq__item-doctor-position {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.faq__item-doctor__experience {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-primary);
  margin-top: auto;
}

@media (width <= 1440px) {
  .faq {
    padding-block: 80px;
  }

  .faq__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
  }
}

@media (width <= 1100px) {
  .faq {
    padding-block: 40px;
  }

  .faq__title {
    font-size: 26px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 32px;
  }

  .faq__content {
    gap: 10px;
  }

  .faq__item-summary {
    padding: 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 12px;
    &::after {
      border-radius: 8px;
    }
  }

  .faq__item-body {
    background: var(--color-bg-gray);
    border-radius: 12px;
    padding: 20px 16px;
  }

  .faq__item-doctor {
    align-items: flex-start;
    gap: 12px;
    padding-top: 24px;
    margin-top: 24px;
  }

  .faq__item-doctor-name {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .faq__item-doctor-position {
    font-size: 14px;
    line-height: 20px;
  }

  .faq__item-doctor__experience {
    font-size: 14px;
    line-height: 20px;
  }

  .faq__item-doctor-avatar {
    height: 72px;
    width: 72px;
  }
}
